[tower]
tower3.<redacted>.internal
tower2.<redacted>.internal
tower1.<redacted>.internal

[database]
db1.<redacted>.internal

[all:vars]
ansible_become=true
admin_password="<redacted>"

pg_host='db1.<redacted>.internal'
pg_port='5432'
pg_database='awx'
pg_username='awx'
pg_password="<redacted>"

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password="<redacted>"
rabbitmq_cookie=cookiemonster
rabbitmq_use_long_name=true

[dbs]
db1.<redacted>.internal
db2.<redacted>.internal

[isolated_group_MultiTierApp:children]
MultiTierApp

[MultiTierApp]
control.<redacted>.example.opentlc.com

[MultiTierApp:vars]
controller=tower
ansible_ssh_private_key_file="/home/devops/.ssh/provision_key.pem"
ansible_user="devops"
